In [30]:
# Block 1 - Create a list named favorite_candy with your favorite candy! 
#Remember to put each candy’s name in quotes.
candy = ['skittles','mars','m&m']

In [31]:
# Block 2 - Create a list name candy_rating with your ratings (on a scale of 5) for your favorite candies!
rating = [5,4,3]

In [32]:
# Block 3 - Print both lists you just created by using the print function.
print(candy)
print(rating)

['skittles', 'mars', 'm&m']
[5, 4, 3]

In [33]:
# Block 4 - Display the name of the first candy (index 0) you stored in the list favorite_candy. 
#Then, display its rating from the list candy_rating.
print(candy[0])
print(rating[0])

skittles
5

In [34]:
# Block 5 - Add a new candy to your list of favorite candies.
candy.append('reeses')

In [35]:
# Block 6 - Print the names of your favorite candies using a for loop.
for name in candy:
    print(name)

skittles
mars
m&m
reeses

In [36]:
# Block 7 - Now, print your ratings for each candy using a for loop
for rate in rating:
    print(rate)

5
4
3

In [37]:
# Block 8 - Print the numbers from 1 to 100 using the range function
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [38]:
# Block 9 - Print the numbers from 15 to 29 using the range function
for i in range(15,30):
    print(i)

15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [42]:
# Block 10 - FINAL PROJECT
# We want to create a database of people’s rating of different candy. 
# Ask a user how many candies they want to enter and rate. 
# Then, ask the user for the name of each candy and its rating, storing each in separate lists. 
# Finally, print a chart of the name and ratings of the candy entered by the user.
import pandas as pd

num = int(input('How many candies do you want to enter:'))
candy = []
rating = []

for i in range(0, num):
    name = str(input('Name of the candy:'))
    rate = int(input('Rating of the candy'))
    candy.append(name)
    rating.append(rate)

chart = pd.DataFrame(candy, rating)
chart

         0
1  skittle